<!DOCTYPE html>
<html>
	<head>
		<title>Alumni Webpage</title>
		<link rel = "stylesheet" href = "style.css">
		<script>
		var x =[{'name':"Anshul Kurkanji",'imagelinked':'anshul.jpeg','posi' : 'Head of Publicity and logistics'},
		{'name':"Harshit Ranghuvanshi",'imagelinked':'harshit.jpeg','posi' : 'Vice Chairperson'},
		{'name':"Mukul Baheti",'imagelinked':'mukul.jpeg','posi' : 'Chairperson'},
		{'name':"Sidhant Tibrewal",'imagelinked':'sidhant.jpeg','posi' : 'Head of Design and Operations'},
		{'name':"Gaurangi Gupta",'imagelinked':'gaurangi.jpeg','posi' : 'Head of Design'},
		{'name':"Vanshika Kumar",'imagelinked':'vanshika.jpeg','posi' : 'Head of Public Relations'},
		{'name':"Noopur Vaishnav",'imagelinked':'noopur.jpeg','posi' : 'Head of Human Relations'},
		{'name':"Shreyansh Murarka",'imagelinked':'shreyansh.jpeg','posi' : 'Technical Head'},
		{'name':"Shounak Dey",'imagelinked':'shounak.jpeg','posi' : 'Technical Head'},
		{'name':"Pranav Tharoor",'imagelinked':'pranav.jpeg','posi' : 'Web Head'},
		{'name':"Aritra Basu",'imagelinked':'aritra.jpeg','posi' : 'Head of Sponsorship and Development'},
		{'name':"Ekam Walia",'imagelinked':'ekam.jpeg','posi' : 'Treasurer'},
		{'name':"Nishchay Parashar","imagelinked" : 'nishchay.jpeg','posi':'General Secretary'}];
		 var pageyear = 2017;
		</script>

		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<div class = "head">
			<img class = "logo" src = "../resources/iecse-logo-color.jpg">
			<img onclick = "droper()" class = "drop" src = "../resources/dropdown.png">
		</div>
		<div class = "dropdown" id = "menu">
		</div>
		<h1>BOARD OF 2018-19</h1>

		<div class = "boxer" id = "people">

	</body>
</html>